@model GoFly.BL.Models.HomePage.Plan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanTitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanTitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlanId" class=" btn btn-warning">Edit</a> |
    <a asp-action="Index" class=" btn btn-secondary">Back to List</a>
</div>
